body
{
	background-image: URL('#');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}
ol li{
	display: inline;
	font-weight: bold;
}
ol li a{
	
	text-decoration: none;
	padding: 10px 20px;
}
ol li a:hover{
	background: white;
	color: blue;
}
ol li a:active{
	background: #04AA6D;
	color: #fff;
}

.header
{
	background-color: #02076f;
	color: #fff;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Adamina", sans-serif;
	margin-bottom: 30px;
	background-color: #02076f;
}
h1
{
	text-align: center;
}

#link
{
	float: right;
}

.FIRST
{
	float: left;
	margin-right: 5px;
	margin-left: 30px;
	width: 45%;
	background-color: grey;
	padding: 5px;
	height: auto;
   border-radius: 10px;
}
.SECOND
{
	float: left;
	width: 50%;
	background-color: grey;
	height: auto;
	padding: 5px;
    border-radius: 10px;
}

img{
	margin-left: 5px;
	border-radius: 10px;
}

